.fav-item {
	line-height: 24px;
}
.fav-item a {
	line-height: 100%;
}
.fav-item input {
	border: none;
	border-bottom: solid 1px;
	width: 100%;
}
.edit-favourite, .remove-favourite {
	cursor: pointer;
	float: right;
}
