.lines {
	list-style: none;
	padding: 0;
}

.lines li {
	margin-top: 5%;
}

.lines .lines-wrapper {
	overflow: hidden;
}

.lines .lines-wrapper a {
	float: left;
	width: 10%;
	min-width: 30px;
	padding: 5px 0;
	text-align: center;
}

.lines .lines-wrapper a:hover {
	background-color: gray;
	color: white;
}
.lines .lines-wrapper a.selected {
	background-color: green;
	color: white;
}

.lines strong::before {
	content: '';
	display: inline-block;
	background-size: cover;
	height: 24px;
	width: 24px;
	margin-right: 2%;
}

.lines .trams strong::before {
	background-image: url('../imgs/tram.png');
}

.lines .buses strong::before {
	background-image: url('../imgs/bus.png');
}

.lines .trolleys strong::before {
	background-image: url('../imgs/trolleybus.png');
}
