.lines {
	list-style: none;
	padding: 0;
}

.lines .lines-wrapper {
	overflow: hidden;
}

.lines .lines-wrapper a.blocks {
	float: left;
	width: 50px;
	padding: 5px 0;
	text-align: center;
}
.lines .lines-wrapper a.subway {
	display: block;
}

.lines .lines-wrapper a:hover {
	background-color: gray;
	color: white;
}
.lines .lines-wrapper a.selected {
	color: white;
}
.lines .lines-wrapper a.trolley.selected {
	background-color: blue;
}
.lines .lines-wrapper a.tram.selected {
	background-color: orange;
}
.lines .lines-wrapper a.bus.selected {
	background-color: red;
}
.lines .lines-wrapper a.subway.selected {
	background-color: green;
}

.lines strong::before {
	content: '';
	display: inline-block;
	background-size: cover;
	height: 24px;
	width: 24px;
	margin-right: 2%;
}

.lines .trams strong::before {
	background-image: url('../imgs/tram.png');
}
.lines .buses strong::before {
	background-image: url('../imgs/bus.png');
}
.lines .trolleys strong::before {
	background-image: url('../imgs/trolleybus.png');
}
.lines .subways strong::before {
	background-image: url('../imgs/subway.png');
}
