.lines {
	list-style: none;
	padding: 0;
}

.lines-wrapper {
	overflow: hidden;
}

.lines-wrapper a {
	float: left;
	width: 50px;
	padding: 5px 0;
	text-align: center;
}

a:hover {
	background-color: gray;
	color: white;
}
a.selected {
	color: white;
}
a.trolley.selected {
	background-color: var(--trolley-color);
}
a.tram.selected {
	background-color: var(--tram-color);
}
a.bus.selected {
	background-color: var(--bus-color);
}
a.nightbus.selected {
	background-color: var(--nightbus-color);
}
a.subway.selected {
	background-color: var(--subway-color);
}

.trams::before, .buses::before, .trolleys::before, .subways::before {
	content: '';
	display: inline-block;
	background-size: cover;
	height: 24px;
	width: 24px;
	margin-right: 2%;
}

.trams::before {
	background-image: url('../imgs/tram.png');
}
.buses::before {
	background-image: url('../imgs/bus.png');
}
.trolleys::before {
	background-image: url('../imgs/trolleybus.png');
}
.subways::before {
	background-image: url('../imgs/subway.png');
}
