.tram {
	color: orange;
}
.bus {
	color: red;
}
.trolley {
	color: blue;
}
.tram, .bus, .trolley {
	cursor: pointer;
}

.centered {
	text-align: center;
}

.hidden {
	display: none;
}

.scrollable {
	overflow: auto;
}

.remove-favourite {
	cursor: pointer;
}

@media(min-width:768px) {
	.column {
		float: left;
		margin: 1%;
		width: 30%;
	}
}
