body {
	height: 100vh;
	margin: 0;
}
.padded {
	padding: 15px;
}
.centered {
	text-align: center;
}
.hidden {
	display: none;
}
.nowrap {
	white-space: nowrap;
}

.search-wrapper label {
	margin-right: 15px;
}
.search-wrapper > label::before {
	content: '';
	display: inline-block;
	background-size: cover;
	background-image: url('../imgs/search.ico');
	height: 24px;
	width: 24px;
}

.tram {
	color: orange;
}
.bus {
	color: red;
}
.trolley {
	color: blue;
}
.subway {
	color: green;
}

a {
	text-decoration: none;
}
a:hover {
	background-color: lightgray;
	color: black;
}
.selected a {
	font-weight: bold;
}

.fav-item {
	line-height: 24px;
}
.fav-item a {
	line-height: 100%;
}
.fav-item input {
	border: none;
	border-bottom: solid 1px;
	width: 100%;
}
.edit-favourite, .remove-favourite {
	cursor: pointer;
	float: right;
}

@media(min-width:768px) {
	.rows {
		display: flex;
		flex-direction: column;
	}
	.columns {
		display: flex;
	}
	.block {
		flex: auto;
	}

	.scrollable {
		overflow: auto;
		height: 0;
	}
}

.features {
	padding-left: 8px;
}
.features img {
	height: 15px;
}

.timestamp {
	color: rgb(96, 96, 96);
}

#timing-container > ul {
	list-style: none;
	padding: 0;
}
