.search-wrapper {
	padding: 0 25px;
}
.search-wrapper label {
	display: block;
}
.search-wrapper > label::before {
	content: '';
	display: inline-block;
	background-size: cover;
	background-image: url('../imgs/search.ico');
	height: 24px;
	width: 24px;
}
.search-wrapper input {
	display: block;
	width: 100%;
}

.tram {
	color: orange;
}
.bus {
	color: red;
}
.trolley {
	color: blue;
}
.subway {
	color: green;
}

a {
	text-decoration: none;
}

.centered {
	text-align: center;
}

.hidden {
	display: none;
}

.fav-item {
	line-height: 24px;
}
.fav-item a {
	line-height: 100%;
}
.fav-item input {
	border: none;
	border-bottom: solid 1px;
	width: 100%;
}
.edit-favourite, .remove-favourite {
	cursor: pointer;
	float: right;
}

@media(min-width:768px) {
	.column-timing, .column-lines, .column-routes {
		float: left;
		padding: 1%;
	}

	.column-timing {
		width: 20%;
	}
	.column-lines {
		width: 30%;
	}
	.column-routes {
		width: 44%;
	}

	.route-columns {
		display: flex;
	}
	.route-column {
		flex: auto;
	}

	.scrollable {
		overflow: auto;
		height: 65vh;
	}
}

.features {
	padding-left: 8px;
}
.features img {
	height: 15px;
}

.timestamp {
	color: rgb(96, 96, 96);
}

a:hover {
	background-color: lightgray;
	color: black;
}
.selected a {
	font-weight: bold;
}
