.search-wrapper label {
	margin-right: 15px;
}
.search-wrapper > label::before {
	content: '';
	display: inline-block;
	background-size: cover;
	background-image: url('../imgs/search.ico');
	height: 24px;
	width: 24px;
}

