<h2 class="centered">Favourites</h2>
<div class="scrollable">
	<ol>
		{{#each this}}
			<li>
				<a href="#{{@key}}">
					{{this}} ({{@key}})
				</a>
				&nbsp;
				<a class="favourite_stop" data-stop-id="{{@key}}">Изтрий</a>
			</li>
		{{/each}}
	</ol>
</div>
