<h2 class="centered">Favourites</h2>
<ol>
	{{#each this}}
		<li class="fav-item" data-stop-id="{{@key}}">
			<a class="remove-favourite">
				<img src="imgs/remove.png" width="20px" />
			</a>
			<a class="edit-favourite">
				<img src="imgs/edit.png" width="20px" />
			</a>
			<a href="#{{@key}}">
				{{this}}
			</a>
			&nbsp;
		</li>
	{{/each}}
</ol>
