<h2 class="centered">Favourites</h2>
<ol>
	{{#each this}}
		<li class="fav-item" data-stop-code="{{@key}}">
			<img class="remove-favourite" src="imgs/remove.png" width="20px" />
			<img class="edit-favourite" src="imgs/edit.png" width="20px" />
			<a href="#{{@key}}">
				{{this}}
			</a>
			&nbsp;
		</li>
	{{/each}}
</ol>
