<h2 class="centered">Favourites</h2>
<div class="scrollable">
	<ol>
		{{#each this}}
			<li>
				<a href="#{{@key}}">
					{{this}} ({{@key}})
				</a>
				&nbsp;
				<a id="favourite_{{@key}}" class="favourite_stop">Изтрий</a>
			</li>
		{{/each}}
	</ol>
</div>
