<ul class="lines">
	<li class="trams" data-line-type="0">
		<strong>Trams:</strong>
		<div class="lines-wrapper">
			{{#each trams}}
				<a href="#" class="tram">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="buses" data-line-type="1">
		<strong>Buses:</strong>
		<div class="lines-wrapper">
			{{#each buses}}
				<a class="bus">{{this}}</a>
			{{/each}}
		</div>
	</li>
	<li class="trolleys" data-line-type="2">
		<strong>Trolleys:</strong>
		<div class="lines-wrapper">
			{{#each trolleys}}
				<a href="#" class="trolley">{{this}}</a>
			{{/each}}
		</div>
	</li>
<ul>
