<ul>
	<li>Trams:
		{{#each trams}}
			<span class="tram">{{this}}</span>
		{{/each}}
	</li>
	<li>Buses:
		{{#each buses}}
			<span class="bus">{{this}}</span>
		{{/each}}
	</li>
	<li>Trolleys:
		{{#each trolleys}}
			<span class="trolley">{{this}}</span>
		{{/each}}
	</li>
<ul>
