<h2>{{stopname}}</h2>
<ul>
	{{#each timings}}
		<li>
			<span class="{{type}}">{{line}}</span>
			<ul>{{#each timing}}
				{{#if this}}<li>{{this}}</li>{{/if}}
			{{/each}}</ul>
		</li>
	{{/each}}
</ul>
